//- 基本设置
meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
//- SEO 相关
//- 关键词
meta(name="keywords" content="weilyLab,weily,xhu,微力,实验室")
meta(name="description" content="weilyLab,weily,xhu,微力实验室,西华微力,招新,奋斗")
meta(name="author" content="weilyLab,godakid@outlook.com")
//- <!-- 爬虫索引 -->
meta(name="robots" content="index,follow")
//- <!-- Windows 8 磁贴颜色 -->
meta(name="msapplication-TileColor" content="#000")
//- <!-- Windows 8 磁贴图标 -->
meta(name="msapplication-TileImage" content="icon.png")
//- 禁止 Chrome 浏览器中自动提示翻译
meta(name="google" content="notranslate")