//- index.pug
doctype html
//- layout.pug
html(lang="zh_CN")
    head
        include ./pug/meta.pug
        block styles
            link(rel="stylesheet", href="/css/weily-ui.css")
            link(rel="stylesheet", href="/css/animation.css")
            link(rel="stylesheet", href="/css/normalize.css")
        block title
        
    body
        block content
        block footer
